- if uploads.any?
  %table.table
    %thead
      %tr
        %th= Upload.human_attribute_name(:created_at)
        %th= Upload.human_attribute_name(:creator)
        %th= Upload.human_attribute_name(:file)
    %tbody
      - uploads.each do |upload|
        %tr
          %td= time_ago_in_words(upload.created_at) + ' ago'
          %td= upload.creator.email
          %td= link_to upload.file_file_name, upload_path(upload)

- else
  No uploads yet